.card{
   margin: auto;
   border: none !important;
}
.product-name{
   font-size: 14px;
   color: #000;
}
.product-price{
font-size: 14px;
}
.product-name:hover{
   cursor: pointer;
   color: #000;
   text-decoration: underline;
}

.card:hover .details{
   border: 1px solid rgba(211, 211, 211, 0.262);
}
.product-size{
   font-size: 14px;
   visibility: hidden;
}
.details:hover .product-size{
   visibility: visible;
}
/* .img{
   box-shadow: rgba(0, 0, 0, 0.676) 1.95px 1.95px 2.6px;
} */


